@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }  
    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes fadeOut {
    50% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    user-select: none;
}
.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
/* 팝업 */
.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #3338;
    z-index: 5;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(3px);
}
.popup-active {
    animation: 1s fadeIn forwards;
}
/* 오른쪽 하단 버튼 */
.after_button {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 8%;
    visibility: hidden;
    opacity: 0;
}
.after_button_active {
    animation: fadeIn 2s forwards;
}
.after_button > img {
    width: 100%;
}