@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }  
    100% {
        opacity: 1;
        visibility: visible;
    }
}
* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    user-select: none;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #3338;
    z-index: 5;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}
.popup-active {
    animation: 1s fadeIn forwards;
}