* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    user-select: none;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}