@keyframes fadeout {
    50% {
        display: flex;
        opacity: 1;
        z-index: 10;
    }
    100% {
        display: none;
        opacity: 0;
        z-index: 0;
    }
}
.popup {
    background-color: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    animation: fadeout 2s forwards;
}
.popup > img {
    width: 70%;
}
.diary {
    width: 100%;
    height: 100vh;
    background-image: url('../images/diary.png');
}
.diary--canvas {
    margin: 0 auto;
    position: absolute;
    left: 12.7%;
    top: 15.5%;
    touch-action: none;
}
.buttons {
    width: 3rem;
    height: max-content;
    position: absolute;
    right: 1rem;
    top: 20%;
    display: flex;
    flex-flow: column nowrap;
    padding: 1.5rem;
}
.buttons > button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: .5rem solid #fff;
    margin-top: .75rem;
}
.button__item--red {
    background-color: red;
}
.button__item--blue {
    background-color: blue;
}
.button__item--green {
    background-color: green;
}
.button__item--black {
    background-color: #333;
}
/* .button__item--white {
    background-color: #fff;
} */
.button__item--reset {
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    margin-top: 2rem;
}
.button__item--light {
    
}

.button__item--regular {
}
.button__item--bold {
}
.buttons.size {
    right: 5rem;
}