@keyframes fadeout {
    50% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes selected {
    0% { right: -2rem; }   
    100% { right: 0; }
}
.popup {
    background-color: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    animation: fadeout 2s forwards;
}
.popup > img {
    width: 70%;
}
.diary {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background-image: url('../images/diary.png');
}
.diary--canvas {
    margin: 0 auto;
    position: absolute;
    left: 12.7%;
    top: 15.5%;
    touch-action: none;
}
.buttons__wrap {
    width: 6rem;
    height: max-content;
    position: absolute;
    bottom: 5rem;
    right: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.buttons__wrap:nth-child(3) {
    top: .75rem;
    right: .75rem;
}
.buttons__wrap:nth-child(3) > img {
    width: 4rem;
    margin-top: .25rem;
}
.buttons {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}
.buttons > img {
    margin-top: .75rem;
    position: relative;
    right: -2rem;
    transition: 1s;
}
.buttons.color {
    width: 100%;
}
.selected {
    animation: 1s selected forwards;
}
.buttons.size {
    width: 100%;
    margin-top: 1rem;
}