@keyframes fadeout {
    50% {
        display: flex;
        opacity: 1;
        z-index: 10;
    }
    100% {
        display: none;
        opacity: 0;
        z-index: 0;
    }
}
.popup {
    background-color: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    animation: fadeout 2s forwards;
}
.popup > img {
    width: 70%;
}
.diary {
    width: 100%;
    height: 100vh;
    background-image: url('../images/diary.png');
}
.diary--canvas {
    margin: 0 auto;
    position: absolute;
    left: 12.7%;
    top: 15.5%;
    touch-action: none;
}
.buttons__wrap {
    width: 5rem;
    height: max-content;
    position: absolute;
    top: 30%;
    right: 0;
}
.buttons__wrap:nth-child(3) {
    top: .75rem;
}
.buttons__wrap:nth-child(3) > img {
    width: 4rem;
    margin-top: .25rem;
}
.buttons {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}
.buttons > img {
    margin-top: .75rem;
}
.buttons.color {
    width: 4rem;
    right: -1rem;
}
.buttons.size {
    margin-top: 1rem;
}