.popup {
    opacity: 1;
    animation: fadeOut 2s forwards;
}
.popup > img {
    width: 70%;
}
.popup_second {
    animation-delay: 1.5s;
}

.home {
    background-image: url('../images/background/10_base.png');
    width: 100%;
    height: 100vh;
}
.home > img {
    width: 100%;
}

.check_boxs {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
.check_box {
    width: 10rem;
    height: 10rem;
    background-color: #3333;
    position: absolute;
}
.check_box:nth-of-type(1) {
    left: 9%;
    top: 47%;
}
.check_box:nth-of-type(2) {
    left: 63%;
    top: 55%;
}
.check_box:nth-of-type(3) {
    left: 83%;
    top: 64%;
}
.check_box:nth-of-type(4) {
    left: 73%;
    top: 34%;
}