@keyframes fadeOut2 {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
.popup-hidden {
    animation: 1s fadeOut2 forwards;
}
.popup > img {
    width: 65%;
}
.buttons {
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: -4%;
}
.buttons > img {
    width: 43%;
}
.main {
    background-image: url('../images/background/main_base.png');
    height: 100vh;
}
.clickable {
    position: absolute;
    width: 7%;
    left: 62%;
    top: 19%;
    filter: grayscale(1);
    transition: 1s;
}
.lock {
    pointer-events: none;
    width: 100%;
}
.clickable:hover {
    filter: grayscale(0);
}
/* .lock-circle:hover ~ .lock-empty {
    fill: #A54E7D;
} */
.nickname {
    color: #fff;
    position: relative;
    top: 2rem;
    left: 6rem;
}