.timeout {
    position: absolute;
    font-size: 4rem;
    z-index: 1;
    left: 52%;
    top: 40%;
}
.reward {
    background-image: url('../images/reward.png');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    width: 48%;
    position: relative;
    top: 32%;
    display: flex;
    justify-content: space-between;
}
.buttons > img {
    width: 45%;
}